body{
	margin: 0px;
	padding: 0px;
}

.header{
	font-family: 'bebas_neueregular';
	font-size: 20px;
	background-color: #80DEEA;
	color: #0097A7;
	padding-top: 15px;
	padding-bottom: 10px;
}

.header p{
	color: white;
}

.squares {
	width: 40px;
    height: 40px;
    display:inline-block;
    margin: 0; 
    background-color:#E91E63;

}

.wrapper {
	height:640px;
	width:640px;
	display:block;
	margin:auto;
	margin-top:2%;
	text-align:center;
	font-size:0px;/*
	overflow:hidden;*/
}

.visited {
	background-color:#F48FB1;
}

.button {
	background-color: white;
	border: 0px;
	color: #0097A7;
	font-family: 'bebas_neueregular';
	font-size: 17px;
	padding: 10px;
	width: 80px;
	border-radius: 3px;
}

.button:hover{
	background-color: #E0F7FA;
}

